@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #121212;
  font-family: 'Space Grotesk', sans-serif;
}

.container{
  max-width: 1400px;
  /* border: 4px solid yellow; */
  align-items: center;
  margin: 0 auto;
  align-self: center;
  place-self: center;
}

.main-app {
  text-align: center;
  height: 100vh;
  display: flex;
}

.container{
  max-width: 1400px;
  /* border: 4px solid yellow; */
  align-items: center;
  margin: 0 auto;
}

section.calculator-wrapper{
  display: flex;
  flex-direction: column;
  /* overflow-x: hidden; */
  /* border: 2px solid blue ; */
  /* border: 2px solid red; */
  /* border: 2px solid red; */
}

.input-container{
  max-width: 100%;
  /* border: 2px solid blue; */
  /* border: 2px solid red; */
  position: relative;
}

.cache{
    /* border: 2px solid red; */
    position: absolute;
    right: 2em;
    top: 1.2em;
    color: white;
    background-color: transparent;
}

h4.cache--text{
  font-weight: 100;
  background-color: transparent;
}

.cal-input{
  width: 100%;
  height: 8.5rem;
  color: white;
  text-align: right;
  font-size: 2rem;
  padding-right: 1em;
  border-radius: 6px 6px 0 0;
  border: none;
  background-color: #21272F;
  font-weight: 900;
  caret-color: transparent;
}

.cal-input:focus{
  outline: none;
}

section.calculator{
    border: 1px solid rgba(255, 255, 255, 0.167);
    border-radius: 0 0 6px 6px;
    padding: 0.3em;
    text-align: center;
    border-top: 2px solid #7FF4ED;
    margin: 0 auto;
}

.buttons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.3em;
  white-space: nowrap;
}

button{
  border: 1.2px solid #5884b62f;
  border-radius: 6px;
  color: white;
  font-size: 1.2rem;
  padding: 1.8em;
  cursor: pointer;
}

button:nth-child(2),
button:nth-child(3),
button:nth-child(4),
button:nth-child(8),
button:nth-child(12),
button:nth-child(16) {
  color: #7FF4ED;
  /* font-size: 1.6rem; */

}


button:nth-child(20) {
  background-color: #7FF4ED;;;
  color: black;
  /* font-size: 1.6rem; */
}

button:nth-child(1){
  color: #f9ad4f;
}



/* button{
    text-align: center;
    color: white;
    border: 1.2px solid #5884b62f;
    width: 10%;
    border-radius: 6px;
    cursor: pointer;
    padding: 2em;
} */


@media (max-width: 490px) {

      html,body{
        overflow: hidden;
        /* border: 14px solid yellow; */
      }

      .main-app{
        position: fixed;
        top: 0;
        border-top: 0;
        display: flex;
        align-items: center;
      }
      section.container {
        min-width: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        /* margin: auto 0; */
        /* position: fixed;
        top: 0;
        border-top: 0; */
      }
      section.calculator{
        min-width: 100%;
        padding: 12px;
        border: 0;
        border-top: 2px solid #7FF4ED;
        padding-top: 1.4em;

        /* overflow: ; */
      }

      button{
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 16px;
        padding-bottom: 16px;
        font-size: 2rem;
      }

      .buttons{
        /* grid-gap: 1.2em; */
        min-width: 0;
        grid-template-columns: repeat(4,1fr);
      }

      .cal-input{
        font-size: 3rem;
        padding-right: 0.5em;
        padding-top: 0.6em;
        /* height: 100%; */

      }

      .input-container{
        /* height: 12.5rem; */
        padding-top: 3.5rem;
        background-color: #21272F;
        
      }

      .cache{
        top: auto;
        padding-top: 1.8em;

      }
      button#dot-button{
        padding-top: 0px;
      }
}

@media (hover:hover) and (pointer:fine){

  button:hover{
    color: #555;
  }
  
  button:nth-child(1):hover{
    color: #555;
  }

  button:nth-child(20):hover {
    background-color: rgb(15, 13, 18);
    color: #7FF4ED;
  }


}